<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <!-- Bootstrap and custom JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js" defer=""></script>
    <title>Home</title>
    <link rel="icon" href="static/images/softcare.ico" type="image/x-icon">
</head>

<body>
    <img src="/static/images/background.jpg" style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: -1;" alt="Hospital">
    <header style="padding: 10px;">
        <div class="container" style="max-width: -webkit-fill-available;">
            <div class="justify-content-between align-items-center py-2" style="display: grid;width: -webkit-fill-available;height: fit-content;background: #ffffffde;border: 0.1px solid;border-radius: 5px;padding: 1rem;">
                    <a href="/" class="logo-box" style="width: fit-content;height: fit-content;">
                        <img src="/static/images/softcare.png" style="max-width: 8rem;" alt="Logo">
                    </a>
                    <div class="boxes-container" id="boxes-container" style="font-weight: bolder;font-size: 1.5rem;flex-direction: row;display: flex;height: -webkit-fill-available;grid-column: 2;gap: 20px;line-height: 3;"><a href="/" class="box">Home</a><a href="/announcement" class="box">Announcement</a><a href="/about#" class="box">About Us</a><a href="/signin" class="box">Sign In</a>
                    </div>
            </div>
        </div>
    </header>

    
    <!-- This is where content from extended templates will be injected -->
    
    
    

</body></html>